body { background-color: #E8E8E8; 
font-family: Arial, Veranda, sans-sarif; }

h2 { line-height: 200%;
background-color: #99ff33; 
color:#000000; }

h1 { line-height: 200%;
background-color: #FFFFFF; 
color:#000000; }

